[Desktop Entry]
Type=Application
Version=__VERSION__
Name=AES Lacrima
Comment=AES Lacrima media player
Exec=__EXEC__
Icon=__ICON__
Terminal=false
Categories=AudioVideo;Audio;Player;
StartupNotify=true
StartupWMClass=AES_Lacrima
